amqp==1.4.9
anyjson==0.3.3
asgi-redis==1.4.3
asgiref==1.1.2
attrs==17.4.0
autobahn==18.3.1
Automat==0.6.0
billiard==3.3.0.23
celery==3.1.25
celery-with-redis==3.0
certifi==2017.4.17
channels==1.0.2
chardet==3.0.4
connect-sdk-python3==2.11.0
constantly==15.1.0
cymysql==0.8.9
daphne==1.4.2
defusedxml==0.5.0
Django==1.11.1
django-allauth==0.34.0
django-celery==3.2.2
django-cors-headers==2.1.0
django-cymysql==0.5.1
django-filter==1.1.0
django-mercadopago==5.0.2
django-redis==4.9.0
django-redis-cache==1.7.1
django-rest-auth==0.9.3
djangorestframework==3.6.4
djangorestframework-jwt==1.11.0
hiredis==0.2.0
html5lib==1.0.1
httplib2==0.11.3
hyperlink==18.0.0
idna==2.5
incremental==17.5.0
kombu==3.0.37
Markdown==2.6.11
mercadopago==0.3.4
msgpack-python==0.5.6
oauthlib==2.0.2
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.1
PyJWT==1.5.3
PyMySQL==0.7.11
PyPDF2==1.26.0
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2018.3
pywin32==223
redis==2.10.6
reportlab==3.5.4
requests==2.18.1
requests-oauthlib==0.8.0
setuptools-git==1.2
setuptools-scm==2.1.0
six==1.10.0
social-auth-app-django==1.2.0
social-auth-core==1.4.0
Twisted==17.9.0
txaio==2.9.0
urllib3==1.21.1
vine==1.1.4
virtualenv==15.1.0
webencodings==0.5.1
xhtml2pdf==0.2.2
zope.interface==4.4.3
