{% load staticfiles %}
            
			<div class="page-sidebar-wrapper">
                <!-- END SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    {% if profile_response.perfil == 'Null' and profile_response.is_complete == 'False'  %}
                        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keepexpanded="false" data-auto-scroll="true" data-slide-speed="200">
                            <li class="nav-item start ">
                                <a href="{% url "Usuarios:Perfil" %}" class="nav-link nav-toggle">
                                    <i class="icon-home"></i>
                                    <span class="title">COMPLETAR PERFIL</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a> 
                            </li> 
                            <li class="nav-item  ">
                            <a href="{% url "Panel:Logout" %}" class="nav-link nav-toggle">
                                <i class="fa fa-reply"></i>
                                <span class="title">SALIR</span>
                                <span class="arrow"></span>
                            </a>
                            </li>
                        </ul>
                    {% elif profile_response.perfil != Null and profile_response.is_complete == False %}
                        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keepexpanded="false" data-auto-scroll="true" data-slide-speed="200">
                            <li class="nav-item start ">
                                <a href="{% url "Usuarios:Perfil" %}" class="nav-link nav-toggle">
                                    <i class="icon-home"></i>
                                    <span class="title">COMPLETAR PERFIL</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a> 
                            </li> 
                            <li class="nav-item  ">
                            <a href="{% url "Panel:Logout" %}" class="nav-link nav-toggle">
                                <i class="fa fa-reply"></i>
                                <span class="title">SALIR</span>
                                <span class="arrow"></span>
                            </a>
                            </li>

                        </ul>
                        {% elif profile_response.perfil != 'Null' and socio_profile.status == 'Activo'   %}
                        <!-- Socio Activo -->
                         <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="nav-item start ">
                            <a href="/" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">INICIO 
                                </span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                            

                        </li>
                        
                        
                        
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-child"></i>
                                <span class="title">CLASES</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="{% url "Clases:ListadoDeClases" %}" class="nav-link ">
                                        <span class="title">Listado De Clases </span>
                                    </a>
                                </li>
                                <!--
                                <li class="nav-item  ">
                                    <a href="{% url "Panel:ComingSoon" %}" class="nav-link ">
                                        <span class="title">Horarios De Clases </span>
                                    </a>
                                </li>
                                -->
                            </ul>
                        </li>
                        {% if profile_response.perfil.tipoUser == 'Administrador' %}
                            
                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fa fa-users"></i>
                                    <span class="title">COLABORADORES</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="{% url "Colaboradores:ListaDeColaboradores" %}" class="nav-link ">
                                            <span class="title">Listado de Colaboradores </span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="{% url "Colaboradores:ListaDeColaboradores" %}" class="nav-link ">
                                            <span class="title">Listado de Colaboradores </span>
                                        </a>
                                    </li>
                            
                                </ul>
                            </li>

                            

                        {% endif %}
                        
                        
                        
                        <li class="nav-item  ">
                            <a href="{% url "Panel:Logout" %}" class="nav-link nav-toggle">
                                <i class="fa fa-reply"></i>
                                <span class="title">SALIR</span>
                                <span class="arrow"></span>
                            </a>
                        </li>
                        
                    </ul>  
                        {% elif profile_response.perfil != 'Null' and socio_profile.status == 'Desactivado'  %}
                        <!-- Socio Activo -->
                        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keepexpanded="false" data-auto-scroll="true" data-slide-speed="200">
                            <li class="nav-item start ">
                                <a href="{% url "Caja:NewMensualIngreso" %}" class="nav-link nav-toggle">
                                    <i class="icon-home"></i>
                                    <span class="title">Solicitar Activacion</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a> 
                            </li> 
                            <li class="nav-item  ">
                            <a href="{% url "Panel:Logout" %}" class="nav-link nav-toggle">
                                <i class="fa fa-reply"></i>
                                <span class="title">SALIR</span>
                                <span class="arrow"></span>
                            </a>
                            </li>

                        </ul>
                    {% else %}
                    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="nav-item start ">
                            <a href="/" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">INICIO 
                                </span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                            
                        </li>
                        {% if user.is_authenticated  and user.is_superuser == True  %}
                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fa fa-bank"></i>
                                    <span class="title">CAJA</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="{% url "Caja:Resumen" %}" class="nav-link ">
                                            <span class="title">RESUMEN</span>
                                        </a>
                                        {% if user.is_authenticated and user.is_staff == True %}
                                        <ul class="sub-menu">
                                            <li class="nav-item ">
                                                <a href="{% url "Caja:ResumenCierres" %}" class="nav-link ">CIERRES DE CAJA</a>
                                            </li>
                                        </ul>
                                        {% endif %}
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="javascript:;" class="nav-link nav-toggle">
                                            <span class="title">INGRESOS</span>
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="nav-item ">
                                                <a href="{% url "Caja:ListOtroIngresos" %}" class="nav-link ">OTROS INGRESOS</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="{% url "Caja:ListadoDeIngresos" %}" class="nav-link "> PAGOS DE MENSUALIDADES SOCIOS </a>
                                            </li>
                                            
                                            
                                        </ul>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="{% url "Caja:ListEgresos" %}" class="nav-link ">
                                            <span class="title">EGRESOS</span>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </li>
                            
                        {% endif %}
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-truck"></i>
                                <span class="title">PROVEEDORES</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item start  ">
                                    <a href="{% url "Proveedores:ListaDeProveedores" %}" class="nav-link ">
                                        
                                        <span class="title">Listado</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li class="nav-item start ">
                                    <a href="{% url "Proveedores:Nuevo" %}" class="nav-link ">
                                        
                                        <span class="title">Nuevo Proveedor</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-building"></i>
                                <span class="title">SOCIOS</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="{% url "Socios:ListaDeSocios" %}" class="nav-link ">
                                        <span class="title">Lista De Socios</span>
                                    </a>
                                </li>
                               
                            </ul>
                        </li>
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-child"></i>
                                <span class="title">CLASES</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="{% url "Clases:ListadoDeClases" %}" class="nav-link ">
                                        <span class="title">Listado De Clases </span>
                                    </a>
                                </li>
                                <!--
                                <li class="nav-item  ">
                                    <a href="{% url "Panel:ComingSoon" %}" class="nav-link ">
                                        <span class="title">Horarios De Clases </span>
                                    </a>
                                </li>
                                -->
                            </ul>
                        </li>
                        {% if profile_response.perfil.tipoUser == 'Administrador' %}
                            
                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fa fa-users"></i>
                                    <span class="title">COLABORADORES</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="{% url "Colaboradores:ListaDeColaboradores" %}" class="nav-link ">
                                            <span class="title">Listado de Colaboradores </span>
                                        </a>
                                    </li>
                                   
                                    <li class="nav-item  ">
                                        <a href="javascript:void(0);" class="nav-link nav-toggle">
                                            
                                            <span class="title">Control de Acceso</span>
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="nav-item  ">
                                                <a href="{% url "Colaboradores:ListEntradaSalida" %}" class="nav-link ">
                                                    <span class="title">Control</span>
                                                </a>
                                            </li>
                                            <li class="nav-item  ">
                                                <a href="javascript:void(0);" onclick="ControlDeAcceso()" class="nav-link ">
                                                    <span class="title">Nuevo Registro de Acceso</span>
                                                </a>
                                            </li>
                                           
                                        </ul>
                                    
                                   


                           
                            
                                </ul>
                            </li>
                            
                        {% endif %}
                        <!--
                        <li class="nav-item  ">
                            <a href="?p=" class="nav-link nav-toggle">
                                <i class="fa fa-line-chart"></i>
                                <span class="title">MARKETING</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="{% url "Panel:ComingSoon" %}" class="nav-link ">
                                        <span class="title">Envio Masivo de Correos </span>
                                    </a>
                                </li>
                                
                            </ul>
                        </li> -->
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-wrench"></i>
                                <span class="title">CONFIGURACION</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="{% url "Configuracion:Configuracion_g" %}" class="nav-link ">
                                        <span class="title">Configuracion General</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{% url "Configuracion:ListaDePlanes" %}" class="nav-link ">
                                        <span class="title">Planes</span>
                                    </a>
                                </li>
                                
                            </ul>
                        <li class="nav-item start  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-database"></i>
                                <span class="title">USUARIOS</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item start  ">
                                    <a href="{% url "Usuarios:ListadoDeUsuarios" %}" class="nav-link ">
                                        <i class="fa fa-user"></i>
                                        <span class="title">Listado</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li class="nav-item start ">
                                    <a href="{% url "Usuarios:RegistroUser" %}" class="nav-link ">
                                        <i class="fa fa-user-plus"></i>
                                        <span class="title">Nuevo Usuario</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        </li>
                        <li class="nav-item  ">
                            <a href="{% url "Panel:Logout" %}" class="nav-link nav-toggle">
                                <i class="fa fa-reply"></i>
                                <span class="title">SALIR</span>
                                <span class="arrow"></span>
                            </a>
                        </li>
                        
                    </ul>  
                    {% endif %}
                    
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
                
            </div>