{% extends "../../Base/Base.html" %}

{% load staticfiles %}

{% block Title %}
	Configuracion | Listado de Planes
{% endblock Title %}

{% block stayle %}
	
        
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="{% static "assets/pages/css/pricing.min.css" %}" rel="stylesheet" type="text/css" />
        
        <!-- END PAGE LEVEL STYLES -->
        
{% endblock stayle %}

{% block Content %}
			<div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN THEME PANEL -->
                    <div class="theme-panel">
                        
                        
                    </div>
                    <!-- END THEME PANEL -->
                    <h1 class="page-title"> Precio de Planes
                        <small>Musculando</small>
                    </h1>
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">Inicio</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Planes</span>
                            </li>
                        </ul>
                        
                    </div>
                    <!-- END PAGE HEADER-->
                    <div class="portlet light portlet-fit ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-share font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Planes</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-cloud-upload"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="pricing-content-1">
                                <div class="row">
                                    {% for plan  in planes  %}
                                        <div class="col-md-3">
                                            <div class="price-column-container border-active">
                                                <div class="price-table-head bg-blue">
                                                    <h2 class="no-margin">{{plan.nombrePlan}}</h2>
                                                </div>
                                                <div class="arrow-down border-top-blue"></div>
                                                <div class="price-table-pricing">
                                                    <h3>
                                                        <sup class="price-sign">$</sup>{{plan.precioPlan}}</h3>
                                                    <p>por mes</p>
                                                </div>
                                                <div class="price-table-content">
                                                    <div class="row mobile-padding">
                                                        <div class="col-xs-3 text-right mobile-padding">
                                                            <i class="icon-user"></i>
                                                        </div>
                                                        <div class="col-xs-9 text-left mobile-padding">{{plan.user}}</div>
                                                    </div>
                                                    <div class="row mobile-padding">
                                                        <div class="col-xs-3 text-right mobile-padding">
                                                            <i class="icon-user"></i>
                                                        </div>
                                                        <div class="col-xs-9 text-left mobile-padding">{{plan.dateCreate}}</div>
                                                    </div>
                                                    <div class="row mobile-padding">
                                                        <div class="col-xs-3 text-right mobile-padding">
                                                            <i class="icon-user"></i>
                                                        </div>
                                                        <div class="col-xs-9 text-left mobile-padding">${{plan.precioPlanAnual}} al año</div>
                                                    </div>
                                                    <div class="price-table-footer">
                                                        <div class="col-xs-6 text-right mobile-padding">
                                                            <button value="{{plan.id}}" onclick="EliminarPlan(this.value);" type="button" class="btn red-mint">Eliminar</button>
                                                        </div>
                                                        <div class="col-xs-6 text-left mobile-padding">
                                                            <button value="{{plan.id}}" onclick="EditarPlan(this.value);" type="button" class="btn blue">Editar</button>
                                                            
                                                        </div>
                                                    </div>  
                                                </div>
                                                <div class="arrow-down arrow-grey"></div>
                                                
                                            </div>
                                        </div>
                                            
                                    {% endfor %}
                                   
                                </div>
                            </div>

                        </div>
                    </div>
                     <a href="javascript:void(0);"  onclick="Modal();"  class="btn green btn-block">Nuevo Plan</a>
                </div>
                
                <!-- END CONTENT BODY -->
            </div>
                                <div id="responsive" class="modal fade  bg-grey-cararra bg-font-grey-cararra" tabindex="-1" data-width="760">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                            <h1 class="modal-title font-green-seagreen">Nuevo Plan</h1>
                                        </div>
                                        <div class="modal-body ">
                                            <div class="row ">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-8 bg-white bg-font-white" style="border-radius: 0 0 2px 2px;box-shadow: 0 20px 30px 20px rgba(0,0,0,.03);">
                                                     <form action="#" style="padding-top: 3em;padding-bottom: 5em; " class="form-horizontal NuevoProveedorForm border-green-seagreen">
                                                    <div class="form-body">
                                                    <h2 style="text-align:center; padding:0em; padding-bottom:1em;" class="center font-green-seagreen">Ingresa los Datos</h2>
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Nombre <strong style="color:red">*</strong></label>
                                                            <div class="col-md-6">
                                                                <input id="Nombre" name="Nombre" type="text" class="form-control" placeholder="Introduce el Nombre del Plan" required="">
                                                                <span id="NuevoPlanNombre" class="help-block hidden" style="color: red;margin-left: 1em;">*Campo Requerido </span>
                                                            </div>
                                                        </div>
                                                       <div class="form-group">
                                                            <label class="col-md-3 control-label">Precio  <strong style="color:red">*</strong></label>
                                                            <div class="col-md-6">
                                                                <input id="precio" name="precio" type="number" class="form-control" placeholder="Introduce el precio del plan" >
                                                                <span id="PrecioNuevoPlan" class="help-block hidden" style="color: red;margin-left: 1em;">*Ingrese un monto</span>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Precio Anual <strong style="color:red">*</strong></label>
                                                            <div class="col-md-6">
                                                                <input id="precioAnualinput" name="precioAnual" type="number" class="form-control" placeholder="Introduce Promocion Anual" >
                                                                <span id="PrecioAnualPlan" class="help-block hidden" style="color: red;margin-left: 1em;">*Ingrese un monto</span>
                                                                
                                                            </div>
                                                        </div>
                                                        
                                                    
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Descripcion</label>
                                                            <div class="col-md-6">
                                                                
                                                                <textarea id="Descripcion" name="Descripcion" class="form-control"  placeholder=" Descripcion  "rows="3"></textarea>
                                                                
                                                            </div>
                                                        </div>
                                                        
                                                       
                                                        
                                                    </div>
                                                    
                                                </form>
                                                </div>
                                                <div class="col-md-2"></div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                                            <button id="GuardarPlan" type="button" onclick="EnviarDatosDePlan();" class="btn green">Guardar</button>
                                            <button value="0" id="ActualizarPlan" type="button" onclick="UpdatePlan(this.value);" class="btn green hidden">Actualizar</button>
                                        </div>
                                    </div>
{% endblock Content %}


{% block Scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
        <script src="{% static "assets/apps/scripts/swet-miguel.js" %}" type="text/javascript"></script>

     <script src="{% static "assets/apps/scripts/NuevoPlan.js" %}" type="text/javascript"></script>

{% endblock Scripts %}